@font-face {
    font-family: 'Montserrat arm2';
    src: url('Montserratarm2-Regular.woff2') format('woff2'),
        url('Montserratarm2-Regular.woff') format('woff'),
        url('Montserratarm2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat arm2';
    src: url('Montserratarm2-Black.woff2') format('woff2'),
        url('Montserratarm2-Black.woff') format('woff'),
        url('Montserratarm2-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat arm2';
    src: url('Montserratarm2-ExtraBold.woff2') format('woff2'),
        url('Montserratarm2-ExtraBold.woff') format('woff'),
        url('Montserratarm2-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat arm2';
    src: url('Montserratarm2-Thin.woff2') format('woff2'),
        url('Montserratarm2-Thin.woff') format('woff'),
        url('Montserratarm2-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat arm2';
    src: url('Montserratarm2-ExtraLight.woff2') format('woff2'),
        url('Montserratarm2-ExtraLight.woff') format('woff'),
        url('Montserratarm2-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat arm2';
    src: url('Montserratarm2-Bold.woff2') format('woff2'),
        url('Montserratarm2-Bold.woff') format('woff'),
        url('Montserratarm2-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat arm2';
    src: url('Montserratarm2-Medium.woff2') format('woff2'),
        url('Montserratarm2-Medium.woff') format('woff'),
        url('Montserratarm2-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat arm2';
    src: url('Montserratarm2-SemiBold.woff2') format('woff2'),
        url('Montserratarm2-SemiBold.woff') format('woff'),
        url('Montserratarm2-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat arm2';
    src: url('Montserratarm2-Light.woff2') format('woff2'),
        url('Montserratarm2-Light.woff') format('woff'),
        url('Montserratarm2-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

