@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
::selection {
  background: #5dba2f !important;
  color: #fff !important;
}

body {
  background-color: #f9fafb;
}
.onex-menu-item,
.onex-menu-submenu-title {
  display: flex !important;
  align-items: center !important;
}
.onex-menu-title-content {
  font-size: 14px !important;
  color: #3b5166 !important;
}
