@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Montserrat arm2";
}

::selection {
  background: #5dba2f !important;
  color: #fff !important;
}

body {
  background-color: #f9fafb;
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #e7e9ec;
  border-radius: 16px;
}

.onex-menu-item,
.onex-menu-submenu-title {
  display: flex !important;
  align-items: center !important;
}

table thead .onex-table-cell {
  white-space: nowrap !important;
}

table thead tr .onex-table-cell {
  background: #e7e9ec !important;
}

table .onex-table-cell {
  vertical-align: top;
}

.onex-menu-title-content {
  font-size: 14px !important;
  color: #3b5166 !important;
}

._paper {
  border-radius: 12px;
  background: #ffffff;
  padding: 16px;
  width: 100%;
  border: 1px solid #f5f5f5;
  min-height: 130px;
}

.actions {
  position: absolute;
  top: -63px;
  right: 20px;
}

.with-circle {
  position: relative;
}

.with-circle .circle {
  position: absolute;
  bottom: 0;
  right: -5px;
}

.with-circle-none .circle {
  display: none;
}
.onex-form-item-required::before {
  display: none !important;
}
