@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
::selection {
  background: #5dba2f !important;
  color: #fff !important;
}

body {
  background-color: #f9fafb;
}
